### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
purchase_data = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(purchase_data)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
total_players=len(purchase_data_df["SN"].unique())
total_players=pd.DataFrame ({"Total Players":[total_players]})
total_players.head()

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#number of unique items
unique_items=len(purchase_data_df["Item ID"].unique())

#average price
average_price=purchase_data_df["Price"].mean()

#number of purchases
purchase_number=len(purchase_data_df["Purchase ID"].value_counts())

#total revenue
total_revenue=purchase_data_df["Price"].sum()

#summary data frame
summary_df = pd.DataFrame({"Number of Unique Items": [unique_items],
                            "Average Price": average_price,
                            "Number of Purchases": purchase_number,
                            "Total Revenue": total_revenue}) 
#formatting
summary_df.style.format({"Average Price":"${:,.2f}",
                         "Total Revenue":"${:,.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#percent & count of male/female/other players
#pull gender data from first df created
gender_info=purchase_data_df.groupby("Gender")
gender_count=gender_info["SN"].nunique()

#define total players again
total_players=len(purchase_data_df["SN"].unique())

#gender percent calculation
gender_percent=gender_count/total_players*100

#gender demographics dataframe
gender_demographics_df = pd.DataFrame({"Total Count":gender_count,
                                        "Percentage of Players":gender_percent})

#formatting
format_gender_demographics = gender_demographics_df.sort_values(["Total Count"], ascending=False).head()

format_gender_demographics.style.format({"Percentage of Players":"{:,.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#purchase count
purchase_count=gender_info["Purchase ID"].count()

#average purchase price
average_purchase_price=gender_info["Price"].mean()

#total purchase value
average_purchase_total=gender_info["Price"].sum()

#average total purchase per person
average_total_purchase_per_person=average_purchase_total/gender_count

#dataframe
gender_demographics=pd.DataFrame({"Purchase Count":purchase_count,
                                        "Average Purchase Price":average_purchase_price,
                                        "Total Purchase Value":average_purchase_total,
                                        "Avg Total Purchase per Person":average_total_purchase_per_person})

#formatting
format_gender_demographics = gender_demographics.sort_values(["Purchase Count"], ascending=False).head()

format_gender_demographics.style.format({"Average Purchase Price":"${:,.2f}",
                                        "Total Purchase Value":"${:,.2f}",
                                        "Avg Total Purchase per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
#create age bins
age_bins= [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 9999]

#categorize existing players
age_names= ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"], age_bins, labels=age_names)

#calculate numbers & percentages by age group
age_group_df=purchase_data_df.groupby("Age Group")
total_count_age = age_group_df["SN"].nunique()
percentage_age= (total_count_age/total_players) *100

#dataframe
age_demographics= pd.DataFrame({"Total Count": total_count_age, "Percentage of Players": percentage_age})

#formatting
age_demographics.style.format({"Percentage of Players":"{:,.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#purchase count by age
purchase_count_age = age_group_df["Purchase ID"].count()

#average purchase price by age
average_purchase_price_age = age_group_df["Price"].mean()

#total purchase value by age
total_purchase_value_age = age_group_df["Price"].sum()

#average purchase total per person by age
average_purchase_per_person_age = total_purchase_value_age/total_count_age

#dataframe
age_demographics = pd.DataFrame({"Purchase Count": purchase_count_age,
                                 "Average Purchase Price": average_purchase_price_age,
                                 "Total Purchase Value":total_purchase_value_age,
                                 "Average Purchase Total per Person": average_purchase_per_person_age})

#formatting
age_demographics.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
#purchase count
spender_info = purchase_data_df.groupby("SN")
purchase_count_spender = spender_info["Purchase ID"].count()

#average purchase price
average_purchase_price_spender = spender_info["Price"].mean()

#total purchase value
total_purchase_spender = spender_info["Price"].sum()

#dataframe
top_spenders = pd.DataFrame({"Purchase Count": purchase_count_spender,
                             "Average Purchase Price": average_purchase_price_spender,
                             "Total Purchase Value":total_purchase_spender})

#formatting
formatted_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

formatted_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
#retrieve Item ID, Name & Price
items = purchase_data_df[["Item ID", "Item Name", "Price"]]

#group by Item ID & Item Name
item_info = items.groupby(["Item ID","Item Name"])

#purchase count
purchase_count_item = item_info["Price"].count()

#purchase value
total_purchase_value = item_info["Price"].sum()

#item price
item_price = total_purchase_value/purchase_count_item

#dataframe
most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":total_purchase_value})

#formatting
formatted_most_popular_items = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()

formatted_most_popular_items.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
#sort by total purchase value
most_profitable_items = most_popular_items.sort_values(["Total Purchase Value"], ascending=False).head()

#formatting
most_profitable_items.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})